/***************************************** 
Setup
*****************************************/

:root {
  --tj-color-primary: #fd462f;
  --tj-color-secondary: #a30000;
  --tj-color-accent-primary: #006a7d;
  --tj-color-accent-secondary: #55b8cd;
  --tj-color-green: #00ab7c;
  --tj-color-blue: #6c90d0;
  /* --tj-color-blue: #00a9e9; */
  --tj-color-gray: #457f8c;
  --tj-color-white: #fff7f3;
}

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  color: var(--tj-color-gray);
  scrollbar-width: thin;
}

/***************************************** 
carousel
*****************************************/

.carousel-inner button,
.carousel-indicators button {
  background-color: var(--tj-color-accent-primary) !important;
}

.carousel-inner * {
  color: var(--tj-color-accent-primary) !important;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  position: initial;
}

.carousel-inner img {
  object-fit: contain;
  max-height: 50vh;
  width: auto;
}

/***************************************** 
home jumbotron
*****************************************/

.bg-theme {
  color: var(--tj-color-white);
  background-image: linear-gradient(
    135deg,
    var(--tj-color-blue),
    var(--tj-color-accent-secondary),
    var(--tj-color-primary)
  );
}

#home {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  position: relative;
  color: var(--tj-color-white);
  background-image: linear-gradient(
    135deg,
    var(--tj-color-blue),
    var(--tj-color-accent-secondary),
    var(--tj-color-primary)
  );
  overflow-x: hidden;
}

/***************************************** 
Button themes
*****************************************/

.btn {
  color: var(--tj-color-white, #fff7f3);
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--tj-color-accent-primary, #006a7d);
  border-color: var(--tj-color-accent-primary, #006a7d);
  color: var(--tj-color-white, #fff7f3);
}

.btn-primary {
  background-color: var(--tj-color-accent-secondary);
  border-color: var(--tj-color-accent-secondary);
}


/***************************************** 
Footer
*****************************************/

.footer,
.footer p,
.footer .btn {
  text-align: left;
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer a {
  color: white;
}

.navbar-logo {
  max-width: 20vw;
}
